body {
  font-family: "Poppins", sans-serif !important;
}

.h2,
h2 {
  font-size: calc(1.325em + 0.9vw);
}

h2 {
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none !important;
  color: #cdd6dd !important;
}

.wrapper {
  align-items: center;
  /* background-position: 50%; */
  display: flex;
  justify-content: center;
  padding: 1em;
  position: relative;
  padding-top: 0.44rem;
  padding-right: 1rem;
  padding-bottom: 0.44rem;
  padding-left: 1rem;
  min-height: 250px;
  width: 100%;
}

.aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* HERO Section */
.hero {
  background-color: #1d2730;
  color: white;
}

.hero-headline {
  font-size: calc(4.325rem + 0.9vw);
}

.list-items {
  padding-left: 0;
}

ul.list-items li {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
  list-style-type: none;
}

ul.list-items li img {
  margin-right: 5px;
  width: 20px !important;
  height: auto;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

ul.list-items li code {
  font-size: 1rem;
  color: #d63384;
  word-wrap: break-word;
  font-weight: 400;
  margin-left: 5px;
  text-transform: uppercase;
}

/* HERO Section End */

/* GAME Section */
#game {
  background-color: #f0f3f7;
  padding-block: 30px;
}
/* GAME Section End */

/* INFO Section */
.info {
  background-color: #abb8c3;
}

.info p,
.info h4 {
  color: #000;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.wp-block-columns {
  align-items: normal !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap !important;
  margin-bottom: 1.75em;
}

@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap !important;
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile)
    > .wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
  }
}

@media (max-width: 781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
  }
}

.wp-block-column.is-vertically-aligned-center {
  align-self: center;
}

body .is-layout-flex {
  gap: 24px;
}

figure {
  margin: 0 !important;
}

.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.aligncenter,
.wp-block-image.alignleft,
.wp-block-image.alignright {
  display: table;
}

.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
/* INFO Section End */

/* FOOTER Section */
footer {
  background-color: #1d2730;
  color: #cdd6dd;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.wp-container-18.wp-container-18 {
  justify-content: space-between;
}

body .is-layout-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

body .is-layout-flex > * {
  margin: 0;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  /* -webkit-clip-path: inset(50%); */
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* NEWSLETTER Section */
.subscription-form form {
  margin: auto auto 20px;
  max-width: 620px;
  padding-left: 16px;
  padding-right: 16px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.text-field {
  /* -ms-flex-preferred-size: 100%; */
  /* flex-basis: 100%; */
  width: auto;
}

@media (min-width: 568px) {
  .subscription-form form .content {
    float: left;
    width: 80%;
  }
  .text-field {
    margin-right: 8px;
  }
}

.subscription-form form h5 {
  color: #a2aeb7;
  display: block;
  font-family: Noto Sans, Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin: 16px 0 8px;
  text-transform: uppercase;
}

.subscription-form form input[type="email"],
.subscription-form form input[type="text"] {
  /* background: rgba(123, 140, 152, 0.1); */
  border-color: #4a5b68;
  border-radius: 2px;
  color: #7b8c98;
  font-size: 16px;
  margin: 0;
  min-height: 50px;
  padding: 15px;
  position: relative;
  width: 100%;
  z-index: 2;
}

/* I am 18 */
.subscription-form form .wp-block-smg-addon-form-checkbox {
  margin-top: 15px;
}

.subscription-form
  form
  .wp-block-smg-addon-form-checkbox
  input[type="checkbox"] {
  margin-right: 10px;
}

label {
  display: inline-block;
}
/* BUTTON */

.subscription-form form button {
  background: #44be4c;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: neo-sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  margin-top: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  width: 100%;
}

@media (min-width: 568px) {
  .subscription-form form .act-btn {
    float: right;
    margin-top: 40px;
    width: 20%;
  }
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

@media (min-width: 568px) {
  .subscription-form form button {
    margin-top: 0;
    width: auto;
  }
}

.subscription-form form button {
  background: #44be4c;
  border: 0;
  border-radius: 2px;
  color: #fff;
  /* cursor: pointer; */
  font-family: neo-sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  /* margin-top: 10px; */
  padding: 10px 20px;
  white-space: nowrap;
  /* width: 100%; */
}
/* NEWSLETTER Section End */

.subscription-form form .clear {
  clear: both;
}

footer .h5,
footer h5 {
  color: #a2aeb7;
  display: block;
  font-family: Noto Sans, Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin: 16px 0 8px;
  text-transform: uppercase;
}

body .is-layout-constrained > * + * {
  margin-block-start: 24px;
  margin-block-end: 0;
}

/* FOOTER Section End */

/* POLICY Page Styles */
.policy-background-color {
  background-color: #abb8c3;
}

#page-main p {
  margin-bottom: 30px;
}
/* POLICY Page Styles End */

/* POPUP Section */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

#modal {
  /* display: block; */
  width: 70%; /* Set the width of the modal */
  max-width: 600px; /* Set a maximum width for larger screens */
  height: auto;
  background-color: #1d2730;
  color: #cdd6dd;
  padding-inline: 20px;
  padding-block: 30px;
  border-radius: 8px;
  text-align: center;
}


#modal h1 {
  margin-bottom: 50px;
  font-size: calc(1.375rem + 1vw);
}

#modal a, #modal button {
  font-size: calc(1rem + 1.5vw);
}

#modal a {
  margin-right: 60px;
}

#close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #cdd6dd;
}
/* POPUP Section End */
